* {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  border: 4px solid #000;
}

#wrap div {
  width: 31.25%;
  height: 100px;
  display: inline-block;
}

#wrap div:first-child {
  padding: 50px 5.2%;
  background: gray;
}

#wrap div:first-child + div {
  padding: 130px 13.5%;
  background: blue;;
}